* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#nav {
    background-color: #303134;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}

#nav li a {
    display: inline-block;
    color: white;
    padding: 24px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#nav li:hover:nth-child(1) {
    background-color: #ff4522;
}

#nav li:hover:nth-child(2) {
    background-color: #2170B7;
}

#nav li:hover:nth-child(3) {
    background-color: #A32552;
}

#nav li:hover:nth-child(4) {
    background-color: #329E1F;
}

#nav h1 {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 39px;
}

.main-page {
    background-color: #303134;
    height: 100vh;
}

.mainpage-2 {
    z-index: -999;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.texts {
    align-self: center;
}

.texts p {
    color: #ff4522;
    font-family: "Poppins";
    font-weight: 500;
}

.texts h1 {
    color: white;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2 {
    color: #f0e549;
    margin-bottom: 7px;
}


.texts a:hover {
    color: #ff4522;
    transition: 0.3s;
    text-decoration: underline;
}


.texts a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.miri-img {

    border-radius: 10px;
    transform-origin: 20% 100%;
    transform: rotate(7deg);
    width: 375px;
    margin-top: 55px;
    z-index: -999;
}

.home-img::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    background: #ff4522;
    width: 375px;
    height: 50%;
    transform: rotate(-6deg);
    top: 200px;
    margin-left: -80px;
}

.section-2 {
    background-color: #303134;
    height: 100vh;
}

.background {
    height: 75.5vh;
    background-image: url(dot.jpg);
    background-position: center;
}

.skills {
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    display: inline-block;
    align-self: center;
    color: white;
    max-width: 700px;
    margin-left: 150px;
}

h3 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 55px;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}
.h3travel{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    padding-top: 200px;
}
p {
    color: white;
    width: 500px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.progress {
    background-color: rgba(46, 46, 46, .5);
    width: 500px;
    height: 8px;
    position: relative;
    margin-bottom: 40px;

}

.progress-text span {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.progress:nth-child(2)::after {
    content: '';
    background: #ff4522;
    position: absolute;
    width: 80%;
    height: 100%;
}

.progress:nth-child(4)::after {
    content: '';
    background: #ff4522;
    position: absolute;
    width: 50%;
    height: 100%;
}

.progress:nth-child(6)::after {
    content: '';
    background: #ff4522;
    position: absolute;
    width: 5%;
    height: 100%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*space-around ele*/
    align-items: center;
}

.progress-bar span {
    color: white;
}

.progress-text {
    display: flex;
    justify-content: space-between;
}

.miri {
    font-size: 20px;
}

/*#travel {
    background-color: #303134;
    height: 100vh;
}
*/
.travel-title {
    color: #fff;
    font-family: 'Stick No Bills', sans-serif;
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 55px;
    margin-top: 100px;
}

hr {
    width: 50%;
    margin: auto;
    opacity: 0.3;
    margin-top: 5px;
}

.spans {
    display: flex;
    justify-content: center;
}

.span-date {
    color: #a7afbd;
    font-size: 25px;
    margin-right: 250px;
}

.span-location {
    color: #fff;
    font-size: 25px;
}

.section-4 {
    background-color: #303134;
    height: 76.5vh;
}

.p-elaqe {
    color: #ff4522;
    font-family: "Poppins";
    font-weight: 500;
}

.description {
    color: #a7afbd;
    font-family: "Mulish";
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    font-weight: 400;
    display: inline-block;
}

span {
    color: white;
    font-size: 23px;
}

.span1 {
    margin-top: 60px;
}

#contact {
    text-align: center;
}

.fab {
    color: white;
    padding: 10px;
}

.ins {
    padding-right: 10px;
}

.fab:hover {
    color: #ff4522;
    transition: 0.3s;
}

.fas {
    padding-right: 10px;
}

.far {
    padding-right: 10px;
}

.hiddentraveldiv {
    width: 60%;
    margin-left: 20%;
    background: #494b50;
    display: none;
    z-index: 999;
    position: absolute;
    top: 15%;
    border-radius: 20px;
    overflow-Y: scroll;
    height: 80vh;

}

.hiddentraveldiv:target {
    display: block;
}

.container1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 50px;
    padding: 50px;
}

.div {
    background-color: #A32552;
    width: 300px;
    height: 400px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d1117;
  color: white;
  font-family: "Roboto Mono";
  overflow-x: hidden;
  height: 200vh;
}
section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-wrapper {
  background-color: red;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.item {
  background-color: #161b22;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  margin-left: 100px;
  position: relative;
  transform: translateY(-50%);
}
.item:last-of-type {
  margin-right: 100px;
}
.item h1 {
  margin-bottom: 20px;
}
.item p {
  margin-bottom: 30px;
  font-size: 18px;

  white-space: normal;
}
.item a {
  text-decoration: none;
  color: royalBlue;
  text-transform: uppercase;
  background-color: #2f3948;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
}
/* .count {
	font-size: 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -60%);
	z-index: -1;
	opacity: 0.02;
} */

